{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
<div class="row">

    <div class="col-md-3">
        <h5>Categories</h5>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/">All</a>
            </li>
            {% for cat in categories %}
            <li class="list-group-item">
                <a href="/category/{{ cat.slug }}/">{{ cat.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-md-9">
        <div class="row">
            {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">₹{{ product.price }}</p>

                        <a href="/product/{{ product.slug }}/" class="btn btn-outline-primary btn-sm">
                            View
                        </a>
                        <a href="/cart/add/{{ product.id }}/" class="btn btn-success btn-sm">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
            {% empty %}
                <p>No products available.</p>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
